<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="shortcut icon" type="image/x-icon" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React + TS</title>
    <script>
      window.SITE_CONFIG = {}
      window.SITE_CONFIG['cdnPath'] = '<%- cdnPath %>'
      window.SITE_CONFIG['apiPath'] = '<%- apiPath %>'
    </script>
  </head>
  <body class="notranslate"></body>
</html>
